.spinnerContainer {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    display: flex;
    height: 100%; /* Adjust height as needed */
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999; /* Ensure spinner is displayed on top of other content */
  }
  
  .spinner {
    animation: spin 1s linear infinite;
    border-radius: 50%;
    border-top-color: #1976D2; /* Blue color from gradient */
    border: 6px solid #e4e4e4; /* Border color matches list item border */
    height: 40px;
    width: 40px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  